<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink='/' routerLinkActive="active-link">Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active-link" >Productos <span class="sr-only">(current)</span></a>
        </li>
 
      </ul>
      <div class="form-inline my-2 my-md-0">
          <div class="d-flex flex-row" *ngIf="isLogged(); else iniciar">
              <span class="text-white">
                {{ user.name}}
              </span>
              <div style="cursor: pointer; margin-left: 5px;">
                  <i class="fas fa-door-open text-white" (click)="logout()" ></i>
              </div>
            </div>
          
          <ng-template #iniciar>
             <button class="btn btn-primary" routerLink='/login' routerLinkActive="router-link-active" >Iniciar Sesion</button>
          </ng-template>
               
        </div>

    </div>
  </nav>